@model HMS.Areas.Dashboard.ViewModel.AccomodationTypeActionModel

@if (Model != null)
    {
        <!-- Modal Main Content-->
        <div class="modal-content" id="createModal">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                @if(Model.Id >0)
                {<span>Edit Accomodation Type</span> }
                else { <span>Create Accomodation Type</span>}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="accomodationTypeForm">
                    <input type="hidden" value="@Model.Id" name="Id" />
                    <div class="form-group mb-3">
                        <label for="accomodationName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="accomodationName" 
                               name="Name" placeholder="Accomodation Name" value="@Model.Name">
                       
                    </div>
                    <div class="form-group mb-3">
                        <label for="accomodationDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="accomodationDescription" name="Description" 
                                  rows="2" placeholder="Short description of this accommodation type">@Model.Description</textarea>
                    </div>
                    @Html.AntiForgeryToken()
                </form>

                <div class="errorDiv" role="alert">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="createAccomodationType" class="btn btn-primary"><i class="lni lni-save"></i> @if(Model.Id>0){<span>Update</span>}else{<span>Save</span>}</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="icofont-close"></i> Close</button>

            </div>
        </div>
        <!-- Modal main content end-->
    }
<script>
    $("#createAccomodationType").click(function () {
        $.ajax({
            url: '@Url.Action("Action", "AccomodationTypes")',
            type: "post",
            data: $("#accomodationTypeForm").serialize(),
            success: function (response) {
                if (response.Success) {
                    const modal = bootstrap.Modal.getInstance(document.querySelector('#actionModal'));
                    modal.hide();
                    location.reload();
                }
                else {
                    $(".errorDiv").addClass("alert alert-danger");
                    $(".errorDiv").html(response.Message);
                }
            }
        });


    });
</script>
